<h1>Add restaurant</h1>
<hr>
<%= simple_form_for [@restaurant] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category %>
  <%= f.submit "Submit restaurant", class: "btn btn-dark" %>
<% end %>
<hr>
<%= link_to "Go home", restaurants_path, class: "btn btn-dark"%>
